
.home{
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    top:60%;
    width: 76%;
    margin: auto;
    
}
/* .cards {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  margin: auto;
  justify-self: center;
}
.card{
  margin-bottom: 15px;
} */
/* .cards {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  margin: auto;
  justify-self: center;
}
.cards-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
} */

.courses-loading{
    margin:auto !important;
    /* left: 45% !important;
    right: 45% !important; */
}

@media (max-width: 950px) {
.cards-container{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
  }
}