
.home{
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    top:60%;
    
}


.cards-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}
.courses-loading{
    margin:auto !important;
    left: auto !important;
    right: auto !important;
}

@media (max-width: 950px) {
.cards-container{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
  }
}