.password-reset {
  max-width: 500px;
  margin: auto;
  position: relative;
  margin-top: 10%;
  padding:20px 20px;
  text-align:center;
  box-sizing: border-box;
  border: 0.5px solid;
  box-shadow: 10px 10px 5px grey;
}

.password-reset-form{
    width: 90%;
    position: relative;
    border: 2px solid grey;
    padding:20px 10px;
}

.password-update-button{
    width: 90%;
  position: relative;
  background: blue;
  padding: 10px 10px;
  color: white;
  text-transform:uppercase;
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
}
.password-update-button:hover{
    background: grey;
}